services:
  music-monitor:
    image: lbh1230/music-monitor:latest
    container_name: music-monitor
    restart: always
    volumes:
      - ./config:/config # 核心配置目录 (config.yaml, db, uploads)
      - ./cache:/audio_cache # 缓存目录
      - ./favorites:/favorites # 收藏目录
      - ./library:/library # 资料库目录
    environment:
      - DATABASE_URL=sqlite+aiosqlite:////config/music_monitor.db
      - TZ=Asia/Shanghai
      - PUID=1000 # 您的 NAS 用户 ID (ssh输入 id 查询)
      - PGID=1000 # 您的 NAS 用户组 ID
    network_mode: bridge
    ports:
      - "18000:8000" # 端口映射
